
mat-toolbar {
  background: transparent;
  background-color: var(--pdf-marker-primary);
  border-bottom: 3px solid var(--pdf-marker-secondary);
  height: 99%;
  min-height: 86px;
  .pdf-marker-brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    .pdf-marker-title {
      /*font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif;*/
      font-weight: 800;
      color: var(--pdf-marker-secondary);
    }

    #pdf-marker-version {
      font-family: 'opensans-light', Helvetica, Roboto, "Helvetica Neue", sans-serif;
      font-size: 10px;
      vertical-align: super;
      font-weight: bolder;
    }

    img {
      width: 300px;
      margin-left: -3px;
    }
  }
}

mat-divider {
  background: var(--pdf-marker-primary);
}
